<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{# Macro to render a payment button from a module field #}
{% macro render_payment(payment_group, btn_classes) -%}

{% set has_overlay = payment_group.payment and payment_group.checkout_location == "overlay" %}
{% set payment_href = payment_group.payment.properties.checkoutUrl ~ "?referrer=CMS_MODULE_NEWTAB" %}
{% set data_src = payment_group.payment.properties.checkoutUrl ~ "?referrer=CMS_MODULE_OVERLAY&layout=full-page-overlay" %}
{% set payment_link_id = payment_group.payment.properties.id %}
{% do rel.append("nofollow") %}
{% do rel.append("noopener") %}

{# Trick to create a random number for each overlay if they exist inside same module  #}
{% set random_int = range(0,999)|random %}
{% set random_int2 = range(0,999)|random %}
{% set name_id = name ~ random_int ~ random_int2 %}

{% if has_payment_link and not payment_group.payment %}
  {% if is_in_editor %}
    {% editor_placeholder %}
  {% endif %}
{% else %}

    {# Button #}
      {% if has_overlay %}
        <a class="{{btn_classes}} button__open-overlay-{{ name_id }}">
      {% else %}
        <a href="{{ payment_href }}"
          class="{{btn_classes}}"
          target="_blank"
          {{ rel ? 'rel="{{ rel|join(" ") }}"' : "" }}
        >
      {% endif %}
        {{ caller() }}
      {% if has_overlay %}
        </a>
      {% else %}
        </a>
      {% endif %}
  
  
    {% if has_overlay %}
      <div class="hs-overlay-background" data-instance="{{ name_id }}" style="display: none;"></div>
      <div class="hs-overlay hs-overlay--slide-{{payment_group.sliding_direction|default('bottom') }}" data-instance="{{ name_id }}" data-payment-link-id="{{ payment_link_id }}" data-disabled="{{ is_in_editor }}" style="display: none;">
        <button class="hs-overlay__close--top">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 28" aria-hidden="true" focusable="false">
            <path d="M2.71 26.79c0.312 0.314 0.743 0.508 1.22 0.508s0.908-0.194 1.22-0.507l10.85-10.85 10.86 10.85c0.312 0.312 0.744 0.505 1.22 0.505 0.953 0 1.725-0.772 1.725-1.725 0-0.476-0.193-0.908-0.505-1.22v0l-10.86-10.85 10.85-10.86c0.279-0.305 0.45-0.713 0.45-1.16 0-0.95-0.77-1.72-1.72-1.72-0.448 0-0.856 0.171-1.162 0.452l0.001-0.001-10.86 10.85-10.86-10.85c-0.316-0.344-0.767-0.56-1.27-0.56-0.95 0-1.72 0.77-1.72 1.72 0 0.502 0.215 0.954 0.558 1.268l0.001 0.001 10.85 10.86-10.85 10.86c-0.311 0.311-0.503 0.741-0.503 1.215s0.192 0.904 0.503 1.215l-0-0z"></path>
          </svg>
          <span class="hs-screen-reader-only">close checkout</span>
        </button>
  
        {# Start of Payments Embed Script #}
        <div class="payments-iframe-container" data-src="{{ data_src }}"></div>
        <script type="text/javascript" src="https://static.hsappstatic.net/payments-embed/ex/PaymentsEmbedCode.js"></script>
        {# End of Payments Embed Script #}
  
        {# A focusable element is required to come after the iframe in order to trap focus in the overlay #}
        <button class="hs-overlay__close--bottom">close checkout</button>
      </div>
    {% endif %}
  
    {# Module JS #}
    {% if has_overlay %}
      {% require_js %}
        <script>
          let completedPaymentIds = [];
  
          function handleCloseButtonClick(e, elementsObj) {
            const { bottomCloseButton } = elementsObj
            if (e.key === "Tab" && e.shiftKey) {
              e.preventDefault();
              bottomCloseButton.focus();
            }
            if (e.key === "Escape" ) {
              e.preventDefault();
              closeOverlay(elementsObj)
            }
          }
  
          function handleBottomCloseButtonClick(e, elementsObj, isCompletedPayment) {
            const { iframe, closeButton, overlay, numericModuleId } = elementsObj;
            if (e.key === "Escape" ) {
              e.preventDefault();
              closeOverlay(elementsObj)
            }
  
            if (e.key === 'Tab') {
              e.preventDefault();
  
              if (e.shiftKey && !completedPaymentIds.includes(numericModuleId)) {
                iframe.focus();
              }
              else {
                closeButton.focus();
              }
            }
          }
  
          function handleOverlayBackgroundClick() {
            window.history.back();
          }
  
          function closeOverlay(elementsObj) {
            const {
              overlay,
              openButton,
              closeButton,
              bottomCloseButton,
              overlayBackground,
            } = elementsObj
  
            function endTransition() {
              document.documentElement.classList.remove('hs-payments--overlay-open');
              overlay.removeEventListener('transitionend', endTransition);
              openButton.focus();
            }
  
            if (overlay.classList.contains('open')) {
              overlay.addEventListener('transitionend', endTransition);
  
              overlay.classList.remove('open');
              overlayBackground.classList.remove('open');
            }
          }
  
          function openOverlay(elementsObj) {
            const {
              overlay,
              closeButton,
              bottomCloseButton,
              overlayBackground,
              iframe
            } = elementsObj
  
            function endTransition() {
              overlay.removeEventListener('transitionend', endTransition);
              iframe.focus();
            }
  
            overlay.addEventListener('transitionend', endTransition);
            document.documentElement.classList.add('hs-payments--overlay-open');
            overlay.classList.add('open');
            overlayBackground.classList.add('open');
          }
  
          function generateElementsObj(overlay) {
            const uniqueModuleId = overlay.getAttribute('data-instance');
            const numericModuleId = uniqueModuleId.replace('widget_', '');
            const overlayDisabled = overlay.getAttribute('data-disabled') === 'true';
            const hsPaymentLinkId = overlay.getAttribute('data-payment-link-id');
            // Use the numeric module id to keep the url hash cleaner
            const hash = `#checkout-${ numericModuleId }`;
            const openButton = document.querySelector(`.button__open-overlay-${ uniqueModuleId }`);
            const closeButton = overlay.querySelector('.hs-overlay__close--top');
            const bottomCloseButton = overlay.querySelector('.hs-overlay__close--bottom');
            const overlayBackground = document.querySelector(`.hs-overlay-background[data-instance="${ uniqueModuleId }"]`);
            const iframe = overlay.querySelector('.payments-iframe-container iframe');
  
            return {
              overlay,
              uniqueModuleId,
              numericModuleId,
              overlayDisabled,
              hsPaymentLinkId,
              hash,
              openButton,
              closeButton,
              bottomCloseButton,
              overlayBackground,
              iframe
            }
          }
  
  
          const hsOverlay = (initialOverlayEl) => {
            const elementsObj = generateElementsObj(initialOverlayEl);
            const {
              overlay,
              overlayBackground,
              openButton,
              closeButton,
              bottomCloseButton,
              overlayDisabled,
              hash
            } = elementsObj
  
            function initialize() {
              // display:none is applied to the element directly to prevent overlay from flashing when the page first loads
              overlay.removeAttribute('style');
              overlayBackground.removeAttribute('style');
  
              openButton.addEventListener('click', () => {
                // Do not update the hash using window.location.hash - That works in Chrome but it does not work in Safari
                window.history.pushState(null, '', window.location.href + hash);
                openOverlay(elementsObj);
              });
  
              closeButton.addEventListener('click', () => {
                window.history.back();
              });
  
              bottomCloseButton.addEventListener('click', () => {
                window.history.back();
              });
  
              window.addEventListener('popstate', (e) => {
                if (hash === e.target.location.hash) {
                  openOverlay(elementsObj);
                }
                else {
                  closeOverlay(elementsObj);
                }
              });
  
              closeButton.addEventListener('keydown', (e) => { handleCloseButtonClick(e, elementsObj) });
              bottomCloseButton.addEventListener('keydown', (e) => { handleBottomCloseButtonClick(e, elementsObj) });
              overlayBackground.addEventListener('click', (e) => { handleOverlayBackgroundClick(e, elementsObj) });
  
              // If the hash is already in the URL, open the overlay
              if (window.location.hash && window.location.hash === hash) {
                setTimeout(() => {
                  // If a user directly navigates to the URL with a hash, we need to replace the initial state so that the user can dismiss the overlay.
                  const originalUrl = window.location.href;
                  const originalUrlWithoutHash = originalUrl.replace(window.location.hash, '');
  
                  window.history.replaceState(null, '', originalUrlWithoutHash);
                  window.history.pushState(null, '', originalUrl);
  
                  openOverlay(elementsObj);
                }, 500); // delaying automatic opening a bit looks a bit nicer
              }
            }
  
  
            // Disable opening the overlay in the editor
            if (!overlayDisabled) {
              initialize();
            }
          };
  
  
          window.addEventListener('message', (message)=> {
            if (message.data.event && message.data.data.paymentLinkId) {
              const {
                data: {
                  event,
                  data: {
                    paymentLinkId
                  }
                }
              } = message;
              const msgOverlayEl = document.querySelector(`.hs-overlay.open[data-payment-link-id="${ paymentLinkId }"]`);
              const elementsObj = generateElementsObj(msgOverlayEl);
  
              switch (event) {
                case "escapeKeydown":
                  closeOverlay(elementsObj);
                  break;
                case "SUCCESS":
                  // update completed payment id array to include completed payment id
                  const { numericModuleId } = elementsObj;
                  completedPaymentIds.push(numericModuleId);
                  break;
              }
            }
          })
  
  
          document.addEventListener('DOMContentLoaded', () => {
            Array.from(document.querySelectorAll('.hs-overlay'))
              .forEach((overlay) => hsOverlay(overlay));
          });
        </script>
      {% end_require_js %}
    {% endif %}
  {% endif %}
{% endmacro%}}